<div class="card">
  <div class="card-header">
    <div class="float-left">
      <h4>Cursos</h4> 
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-primary">Novo Curso</button>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <table class="table" *ngIf="cursos$ | async as cursos; else loading">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Curso</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let curso of cursos">
            <td>{{curso.id}}</td>
            <td>{{curso.nome}}</td>
            <td>
            <span class="float-right">
              <button type="button" class="btn btn-warning">Atualizar</button>
              <button style="margin-left: 10px;" type="button" class="btn btn-danger">Remover</button>
            </span>
          </td>
          </tr>
        </tbody>
      </table>
      <ng-template #loading>
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </ng-template>
      
    </li>
  </ul>
</div>